.registration-container {
  .input-form {
    justify-content: center;
    .name {
      display: grid;
      justify-content: center;
      input {
        width: 40vw;
        margin: 0.5rem;
      }
    }
  }
}
